<h1>ユーザー一覧</h1>
  <% if user_signed_in? %>
    <h2>こんにちは <%= current_user.username %>さん</h2>
    <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
  <% end %>
  <% @users.each do |u| %>
    <p><a href="/users/<%= u.id %>"><%= u.username %>さん</a></p>
    <hr>
  <% end %>