<div class="d-flex align-items-center">
  <h1>求人広告</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', companyrequired_posts_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render partial: "form", locals: { companyrequired_post: @companyrequired_post } %>