<div class="main-container">
  <div class="connect-center">
    <h1 class="page-title">Connect between recurit more closer</h1>
    <p>就職活動でもっと企業と学生が身近な存在に</p>
    <a class="btn btn-primary btn-lg" href="users/sign_up" role="button">ユーザー新規登録</a>
  </div>
</div>
