@import "bootstrap";

@import "answers";
@import "users";
@import "posts";
@import "companies";
@import "company_posts";
@import "companymessages";
@import "companyrequired_posts";
@import "home";
@import "companies";
@import "messages";
@import "users/sign_up";
@import "users/sign_in";
@import "users/show";
@import "users/edit";



body {
  display: flex;
  flex-direction: column;
}
.left-message{
  text-align: left;
  padding: 20px;
}

.right-message{
  text-align: right;
}

header {
  background-color: black;
  font-family: 'Sawarabi Gothic', sans-serif;
  height: 70px;
  padding: 0px 60px;
  position: fixed;
  width: 100%;
}

a {
  font-family: 'Philosopher', serif;
}
.title-tag {
  padding: 10px;
  letter-spacing: 3px;
}

footer {
  padding: 10px 15px;
  text-align: center;
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: white;
  background-color: black;
  font-family: 'Philosopher', serif;
}

.container {
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
